body {
  background: #E7E6E1;
}

.layout-div {
	margin: 3rem auto;
	max-width: 800px;
	padding: 0 1rem;
}

.archive-post-div {
  margin-bottom: 20px !important;
}

.archive-post-link {
  text-decoration: none;
}

.archive-post-date {
  display: block;
  font-size: 50%;
  margin-top: 5px;
  color: #1EAFED !important;
}

.social-list {
	display: flex !important;
	position: relative;
	justify-content: flex-end;
	float: right;
	top: -70px;
}

.social-list li {
	list-style: none;
	position: relative;
	display: flex;
	margin: 5px;
}

.blog-post-date {
	display: block;
  font-size: 50%;
  margin-top: 5px;
  color: #1EAFED !important;
}
